In [3]:
import numpy as np
import pandas as pd

In [4]:
np.set_printoptions(precision=2)

**Считываем данные из файла**

In [23]:
data = pd.read_csv("../data/spotify-2023.csv", encoding='ISO-8859-1')

In [32]:
df = data #заренеймим

In [24]:
type(data)

pandas.core.frame.DataFrame

**Смотрим на первые 5 строк**

In [30]:
data.head(5)

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [130]:
data.tail(7).T

,946,947,948,949,950,951,952
track_name,Broke Boys,The Great War,My Mind & Me,Bigger Than The Whole Sky,A Veces (feat. Feid),En La De Ella,Alone
artist(s)_name,"Drake, 21 Savage",Taylor Swift,Selena Gomez,Taylor Swift,"Feid, Paulo Londra","Feid, Sech, Jhayco",Burna Boy
artist_count,2,1,1,1,2,3,1
released_year,2022,2022,2022,2022,2022,2022,2022
released_month,11,10,11,10,11,10,11
released_day,4,21,3,21,3,20,4
in_spotify_playlists,1060,1274,953,1180,573,1320,782
in_spotify_charts,0,0,0,0,0,0,2
streams,106249219,181382590,91473363,121871870,73513683,133895612,96007391
in_apple_playlists,3,1,61,4,2,29,27
in_apple_charts,8,6,13,0,0,26,18
in_deezer_playlists,5,11,37,8,7,17,32
in_deezer_charts,0,0,1,0,0,0,1
in_shazam_charts,0,0,0,0,0,0,0
bpm,120,96,144,166,92,97,90
key,D,F,A,F#,C#,C#,E
mode,Major,Major,Major,Major,Major,Major,Minor
danceability_%,64,57,60,42,80,82,61
valence_%,11,55,24,7,81,67,32
energy_%,53,74,39,24,67,77,67
acousticness_%,1,22,57,83,4,8,15
instrumentalness_%,0,0,0,1,0,0,0
liveness_%,25,8,8,12,8,12,11
speechiness_%,27,4,3,6,6,5,5

In [27]:
data.shape

(953, 24)

**Краткая статистика – info и describe**

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

In [131]:
data.describe()

,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,in_apple_playlists,in_apple_charts,in_deezer_charts,bpm,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
count,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.00000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000
mean,1.556139,2018.238195,6.033578,13.930745,5200.124869,12.009444,67.812172,51.908709,2.666317,122.540399,66.96957,51.431270,64.279119,27.057712,1.581322,18.213012,10.131165
std,0.893044,11.116218,3.566435,9.201949,7897.608990,19.575992,86.441493,50.630241,6.035599,28.057802,14.63061,23.480632,16.550526,25.996077,8.409800,13.711223,9.912888
min,1.000000,1930.000000,1.000000,1.000000,31.000000,0.000000,0.000000,0.000000,0.000000,65.000000,23.00000,4.000000,9.000000,0.000000,0.000000,3.000000,2.000000
25%,1.000000,2020.000000,3.000000,6.000000,875.000000,0.000000,13.000000,7.000000,0.000000,100.000000,57.00000,32.000000,53.000000,6.000000,0.000000,10.000000,4.000000
50%,1.000000,2022.000000,6.000000,13.000000,2224.000000,3.000000,34.000000,38.000000,0.000000,121.000000,69.00000,51.000000,66.000000,18.000000,0.000000,12.000000,6.000000
75%,2.000000,2022.000000,9.000000,22.000000,5542.000000,16.000000,88.000000,87.000000,2.000000,140.000000,78.00000,70.000000,77.000000,43.000000,0.000000,24.000000,11.000000
max,8.000000,2023.000000,12.000000,31.000000,52898.000000,147.000000,672.000000,275.000000,58.000000,206.000000,96.00000,97.000000,97.000000,97.000000,91.000000,97.000000,64.000000

**Индексация**

In [56]:
df.loc[:5, ["track_name", "in_spotify_playlists"]]

                            track_name  in_spotify_playlists
0  Seven (feat. Latto) (Explicit Ver.)                   553
1                                 LALA                  1474
2                              vampire                  1397
3                         Cruel Summer                  7858
4                       WHERE SHE GOES                  3133
5                             Sprinter                  2186

**loc и iloc**

In [133]:
df.iloc[:7, 0:5]

,track_name,artist(s)_name,artist_count,released_year,released_month
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7
1,LALA,Myke Towers,1,2023,3
2,vampire,Olivia Rodrigo,1,2023,6
3,Cruel Summer,Taylor Swift,1,2019,8
4,WHERE SHE GOES,Bad Bunny,1,2023,5
5,Sprinter,"Dave, Central Cee",2,2023,6
6,Ella Baila Sola,"Eslabon Armado, Peso Pluma",2,2023,3

In [137]:
 df.iloc[:7, 0:5], df.iloc[:7, 10:12]

(                            track_name              artist(s)_name  \
 0  Seven (feat. Latto) (Explicit Ver.)            Latto, Jung Kook
 1                                 LALA                 Myke Towers
 2                              vampire              Olivia Rodrigo
 3                         Cruel Summer                Taylor Swift
 4                       WHERE SHE GOES                   Bad Bunny
 5                             Sprinter           Dave, Central Cee
 6                      Ella Baila Sola  Eslabon Armado, Peso Pluma

    artist_count  released_year  released_month
 0             2           2023               7
 1             1           2023               3
 2             1           2023               6
 3             1           2019               8
 4             1           2023               5
 5             2           2023               6
 6             2           2023               3  ,
    in_apple_charts in_deezer_playlists
 0              263                  45
 1              126                  58
 2              207                  91
 3              207                 125
 4              133                  87
 5              213                  88
 6              222                  43)

In [132]:
type(df.iloc[:7, 0:5])

pandas.core.frame.DataFrame

In [38]:
data.loc[0:5, ["track_name", "released_year"]]

                            track_name  released_year
0  Seven (feat. Latto) (Explicit Ver.)           2023
1                                 LALA           2023
2                              vampire           2023
3                         Cruel Summer           2019
4                       WHERE SHE GOES           2023
5                             Sprinter           2023

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

In [127]:
df[df['released_month'] == 7]['in_apple_playlists'].mean(numeric_only=True)

66.61290322580645

In [39]:
data.iloc[:, 2:4].head()

   artist_count  released_year
0             2           2023
1             1           2023
2             1           2023
3             1           2019
4             1           2023

**Логическая индексация**

In [144]:
df[(df["released_month"] == 7) & (df["in_spotify_charts"] <100)]['track_name']

7                                               Columbia
11                                             Super Shy
21     I Can See You (Taylorï¿½ï¿½ï¿½s Version) (From...
30                                                  Rush
43                                         See You Again
58                                                   S91
59                                              cardigan
68                                             Overdrive
69                          Enchanted (Taylor's Version)
72                                           golden hour
74                 Quevedo: Bzrp Music Sessions, Vol. 52
76                                          Here With Me
83                   Back To December (Taylor's Version)
84                             STAY (with Justin Bieber)
104                                            New Jeans
113                              Mine (Taylor's Version)
119                                               august
122                                             Nonsense
139                                    Romantic Homicide
144                                                QUEMA
161                                             Gasolina
193               Better Than Revenge (Taylor's Version)
195                         Have You Ever Seen The Rain?
196                                        Es un Secreto
227                                               Normal
231                                              CUFF IT
278                                            DESPECHï¿
320                                   Gangsta's Paradise
329                                               LOKERA
360                                            Lovezinho
372                                      About Damn Time
399                                                   TV
410                    INDUSTRY BABY (feat. Jack Harlow)
418                                                 Doja
427                                    Where Are You Now
438                         Kesariya (From "Brahmastra")
520                             love nwantiti (ah ah ah)
531                                    Happier Than Ever
560                                         Life Goes On
570                                      Volando - Remix
584                               Mood (feat. Iann Dior)
594                                               Sobrio
609                             Happier Than Ever - Edit
637                                  Permission to Dance
665                                              Excuses
684                                          Alien Blues
713                                Thinking with My Dick
870                                                 MORE
875                       Hot Shit (feat. Ye & Lil Durk)
877                                              La Loto
886                                             GIVENCHY
887                                      ALIEN SUPERSTAR
891                Come Back Home - From "Purple Hearts"
892                                           El Rescate
894    Stay With Me (with Justin Timberlake, Halsey, ...
909                                               Static
911                                               Sparks
915                                           Sin Seï¿½ï
924                              2 Be Loved (Am I Ready)
930                                  Casei Com a Putaria
Name: track_name, dtype: object

In [145]:
df[(df["released_month"] == 7) & (df["in_spotify_charts"] <100)]['in_spotify_playlists'].mean()

3868.7166666666667

In [146]:
df[(df["released_month"] == 7) & (df["in_spotify_charts"] <100)]['in_spotify_playlists'].median()

2333.5

In [150]:
abs(df[(df["released_month"] == 7) & (df["in_spotify_charts"] <100)]['in_spotify_playlists'].median() - df[(df["released_month"] == 7) & (df["in_spotify_charts"] <100)]['in_spotify_playlists'].mean())

1535.2166666666667

**Groupby**

In [155]:
type(df.groupby('released_month'))

pandas.core.groupby.generic.DataFrameGroupBy

In [165]:
for  month in df.groupby('released_month'):
    print(type(month))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [173]:
for  var, month in df.groupby('released_month'):
    print( month['in_spotify_playlists'].mean() )

10685.492537313432
3419.72131147541
4057.953488372093
3258.030303030303
3392.1875
3538.5232558139537
3766.9193548387098
5772.347826086957
7731.089285714285
5772.671232876713
5532.225
2889.76

In [154]:
df.loc[0:5,[ "track_name", "released_year", "in_spotify_charts", "in_spotify_playlists"]]

,track_name,released_year,in_spotify_charts,in_spotify_playlists
0,Seven (feat. Latto) (Explicit Ver.),2023,147,553
1,LALA,2023,48,1474
2,vampire,2023,113,1397
3,Cruel Summer,2019,100,7858
4,WHERE SHE GOES,2023,50,3133
5,Sprinter,2023,91,2186

In [174]:
df.groupby('released_month')

In [177]:
df.groupby('released_month')[ ['in_spotify_charts', 'in_spotify_playlists'] ].agg(np.mean)

C:\Users\User1\AppData\Local\Temp\ipykernel_672\1971928967.py:1: FutureWarning: The provided callable <function mean at 0x0000013151F2C4A0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('released_month')[ ['in_spotify_charts', 'in_spotify_playlists'] ].agg(np.mean)

                in_spotify_charts  in_spotify_playlists
released_month
1                       11.455224          10685.492537
2                       13.868852           3419.721311
3                       13.244186           4057.953488
4                       11.454545           3258.030303
5                       10.164062           3392.187500
6                       16.790698           3538.523256
7                       21.500000           3766.919355
8                       11.913043           5772.347826
9                        7.767857           7731.089286
10                       8.136986           5772.671233
11                       8.575000           5532.225000
12                      11.040000           2889.760000

In [181]:
data2 = df.groupby('released_month')[ ['in_spotify_charts', 'in_spotify_playlists'] ].agg(np.std)

C:\Users\User1\AppData\Local\Temp\ipykernel_672\3808899873.py:1: FutureWarning: The provided callable <function std at 0x0000013151F2C5E0> is currently using DataFrameGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  data2 = df.groupby('released_month')[ ['in_spotify_charts', 'in_spotify_playlists'] ].agg(np.std)

In [182]:
data2.sort_values(by=['in_spotify_charts'])

                in_spotify_charts  in_spotify_playlists
released_month
9                       13.490726          11255.806216
11                      15.151367           7523.368420
10                      15.907995           8663.337074
4                       17.194974           5848.236281
2                       17.320966           6359.237740
12                      18.117067           3984.970226
5                       18.175339           4858.566093
1                       19.940745          12031.401274
8                       20.670780           6970.010025
3                       21.724985           5700.647732
6                       23.489230           5059.662636
7                       26.967345           4358.993331

**Сводная таблица**

In [186]:
pd.crosstab( df['released_month'], df['artist_count'])

artist_count     1   2   3  4  5  6  7  8
released_month
1               98  22  11  2  0  0  1  0
2               32  25   3  0  0  1  0  0
3               48  29   8  1  0  0  0  0
4               39  23   4  0  0  0  0  0
5               81  34   9  2  2  0  0  0
6               41  27  11  4  2  0  0  1
7               42  10   9  1  0  0  0  0
8               29  10   4  2  0  0  0  1
9               33  14   7  2  0  0  0  0
10              56  13   4  0  0  0  0  0
11              43  28   8  0  0  0  1  0
12              45  19   7  1  1  2  0  0

In [188]:
df['artist_count'].describe()

count    953.000000
mean       1.556139
std        0.893044
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        8.000000
Name: artist_count, dtype: float64

In [190]:
df.artist_count.describe()

count    953.000000
mean       1.556139
std        0.893044
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        8.000000
Name: artist_count, dtype: float64

In [193]:
df['track_name'] = df['artist_count'] > df['artist_count'].quantile(.75)

In [194]:
df['artist_count'] > df['artist_count'].quantile(.75)

0      False
1      False
2      False
3      False
4      False
       ...
948    False
949    False
950    False
951     True
952    False
Name: artist_count, Length: 953, dtype: bool

In [192]:
df['artist_count'].quantile(.75)

2.0

In [198]:
(df['artist_count'] > df['artist_count'].quantile(.5)).astype('int64')

0      1
1      0
2      0
3      0
4      0
      ..
948    0
949    0
950    1
951    1
952    0
Name: artist_count, Length: 953, dtype: int64

In [ ]:
pd.crosstab(data["female"], data["looks"])

**Добавление столбцов (построение признаков)**

In [199]:
df['new_feat'] = (df['artist_count'] > df['artist_count'].quantile(.5)).astype('int64')

In [200]:
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%,new_feat
0,False,"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,B,Major,80,89,83,31,0,8,4,1
1,False,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,C#,Major,71,61,74,7,0,10,4,0
2,False,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,F,Major,51,32,53,17,0,31,6,0
3,False,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,A,Major,55,58,72,11,0,11,15,0
4,False,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,A,Minor,65,23,80,14,63,11,6,0

In [201]:
df['new_feat_2'] = .56*df['released_year'] + .32*df['in_spotify_playlists']

**map и apply**

In [207]:
def func1(released_month):
    return ('happy_bd' if released_month ==7  else 'no :)')

In [210]:
func1(7), func1(8)

('happy_bd', 'no :)')

In [215]:
df["released_month"].apply(func1)

<class 'pandas.core.series.Series'>
RangeIndex: 953 entries, 0 to 952
Series name: released_month
Non-Null Count  Dtype
--------------  -----
953 non-null    object
dtypes: object(1)
memory usage: 7.6+ KB

In [214]:
df[df["released_month"].apply(func1) =='happy_bd']

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%,new_feat,new_feat_2
0,False,"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,Major,80,89,83,31,0,8,4,1,1309.84
7,False,Quevedo,1,2023,7,7,714,43,58149378,25,...,Major,67,26,71,37,0,11,4,0,1361.36
11,False,NewJeans,1,2023,7,7,422,55,58255150,37,...,Minor,78,52,82,18,0,15,7,0,1267.92
17,False,Billie Eilish,1,2023,7,13,873,104,30546883,80,...,Major,44,14,9,96,0,10,3,0,1412.24
21,False,Taylor Swift,1,2023,7,7,516,38,52135248,73,...,Major,69,82,76,6,0,6,3,0,1298.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,False,Steve Lacy,1,2022,7,15,1613,0,202452860,21,...,Major,34,22,31,43,63,10,7,0,1648.48
911,False,Coldplay,1,2000,7,10,10826,4,624101957,24,...,Major,37,17,27,75,5,10,3,0,4584.32
915,False,"Ovy On The Drums, Quevedo",2,2022,7,22,1097,2,209106362,18,...,Minor,82,75,85,33,1,11,4,1,1483.36
924,False,Lizzo,1,2022,7,14,3682,6,247689123,41,...,Major,72,92,77,9,0,8,11,0,2310.56
930,True,"MC Ryan SP, Love Funk, Mc Paiva ZS",3,2022,7,1,648,4,187701588,0,...,Minor,59,62,60,12,0,5,44,1,1339.68

In [217]:
df["released_month"].apply(lambda released_month:'happy_bd' if released_month ==7  else 'no :)' )

0      happy_bd
1         no :)
2         no :)
3         no :)
4         no :)
         ...
948       no :)
949       no :)
950       no :)
951       no :)
952       no :)
Name: released_month, Length: 953, dtype: object

In [218]:
d = {'happy_bd': 1, 'no :)': 0}

In [219]:
df["released_month"].apply(lambda released_month:'happy_bd' if released_month ==7  else 'no :)' ).map(d).head()

0    1
1    0
2    0
3    0
4    0
Name: released_month, dtype: int64